<launch>

    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find catbot_rl_agent)/configs/qlearn_params.yaml" />

    <!-- Launch the training system -->
    <node pkg="catbot_rl_agent" name="catbot_agent_node" type="start_training_v2.py" output="screen"/>
</launch>